/* Bungee */
@font-face {
    font-family: "Bungee";
    src: url('../fonts/Bungee-Regular.ttf');
}
/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth\,wght.ttf');
    font-style: normal;
}@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf');
    font-style: italic;
}
/* Sitelen Pona */
@font-face {
    font-family: 'Nasin Nanpa';
    src: url('../fonts/nasin-nanpa.otf');
}
